* {
    margin: 0;
    padding: 0;
} 

body {
    background-image: url("../imagenes/Fondo.jpg");
    padding-left: 7%;
    padding-right: 7%;
}

header {
    background-color: #96e6e1;
}

.cabecera {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 4px;
}

.tituloSubtitulo {
    font-family: 'Zen Antique Soft';
   color: whitesmoke;
}

.navegacion {
   text-decoration: none;
   color: whitesmoke;
   font-size: 13px;
   padding: 10px;

   border: 1px solid whitesmoke;
   text-transform: uppercase;
   border-radius: 20px;
}

main {
    background-color: whitesmoke;
}

footer {
    background-color: #96e6e1;
    
}

.navegacionFooter {
    text-align: center;
    padding-top: 16px;
}

.redesSociales {
    padding-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

/* ESTILOS '''INICIO'''*/
.mainInicio {
    background-color: whitesmoke; 
}

.preciosHorarios {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
}

.informacionPersonal-Mapa {
    display: flex;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.infPers {
    background-color: #96e6e1;
}

/* ESTILOS '''TRABAJOS'''*/
.mainTrabajos {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding-bottom: 24px;
    padding-top: 24px;
}

.titulosTrabajos {
    background-color: #96e6e1;
    color: whitesmoke;
    font-size: 16px;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

/* ESTILOS '''CURSOS'''*/
.mainCursos {
    background-color: whitesmoke;
}

.sectionCursos1 {
    display: flex;
    justify-content: center;
}

.divCursos1 {
    width: 60%;
    padding: 10px;
}

.titulosCursos {
    background-color: #96e6e1;
    color: whitesmoke;
    font-size: 16px;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

.sectionCursos2, .galeria-cursos {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.divCursos2 {
    background-color: #96e6e1;
    padding: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

/* ESTILOS '''DIPLOMAS'''*/
.mainDiplomas {
    padding: 32px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.titulosDiplomas {
    background-color: whitesmoke;
    color: #96e6e1;
    font-size: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

.sectionDiplomas {
    background-color: #96e6e1;
    padding: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.diploma1 {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.diplomas {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}


/* ESTILOS '''HOVER'''*/

.navegacion:hover {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px;
 
    border: 1px solid #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.15s;
 }

 .efectoRedesSociales:hover {
    width: 105px;
    transition: 0.5s;
 }