* {
    margin: 0;
    padding: 0;
} 

body {
    background-image: url("../imagenes/backgroundMarmol.jpg");
    padding-left: 7%;
    padding-right: 7%;
}


/*ESTILOS '''HEADER'''*/

header {
    background-color: #96e6e1;
}

.cabecera {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 4px;
}

.tituloSubtitulo {
    font-family: 'Zen Antique Soft';
   color: whitesmoke;
}

.tituloSubtitulo1 {
    display: flex;
    align-items: center;
}

.navegacion {
   text-decoration: none;
   color: whitesmoke;
   font-size: 13px;
   padding: 10px;

   border: 1px solid whitesmoke;
   text-transform: uppercase;
   border-radius: 20px;
}


/*ESTILOS '''MAIN'''*/

main {
    background-color: whitesmoke;
}


/*ESTILOS '''FOOTER'''*/

footer {
    background-color: #96e6e1;
    
}

.navegacionFooter {
    text-align: center;
    padding-top: 16px;
}

.redesSociales {
    padding-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

.direccionFooterDiv {
    background-color: #96e6e1;
    display: flex;
    justify-content: space-around;
    
}

.direccionFooter {
    color: whitesmoke;
    font-size: 11px;
    padding: 3px;

    border: 1px solid whitesmoke;
    text-transform: uppercase;
    border-radius: 20px;
}


/* ESTILOS '''INICIO'''*/
.mainInicio {
    background-color: whitesmoke; 
}

.preciosHorarios {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
}

.informacionPersonal-Mapa {
    display: flex;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sectionIndex {display: flex;}

.infPers {
    background-color: #96e6e1;
}

/* ESTILOS '''TRABAJOS'''*/
.mainTrabajos {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding-bottom: 24px;
    padding-top: 24px;
}

.titulosTrabajos {
    background-color: #96e6e1;
    color: whitesmoke;
    font-size: 16px;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

/* ESTILOS '''CURSOS'''*/
.mainCursos {
    background-color: whitesmoke;
}

.sectionCursos1 {
    display: flex;
    justify-content: center;
}

.divCursos1 {
    width: 60%;
    padding: 10px;
}

.titulosCursos {
    background-color: #96e6e1;
    color: whitesmoke;
    font-size: 16px;

    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

.sectionCursos2, .galeria-cursos {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.divCursos2 {
    background-color: #96e6e1;
    padding: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

/* ESTILOS '''DIPLOMAS'''*/
.mainDiplomas {
    padding: 32px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.titulosDiplomas {
    background-color: whitesmoke;
    color: #96e6e1;
    font-size: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
}

.sectionDiplomas {
    background-color: #96e6e1;
    padding: 16px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.diploma1 {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.diplomas {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}


/* ESTILOS '''HOVER'''*/

.navegacion:hover {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 7px;
 
    border: 1px solid #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.15s;
 }

 .efectoRedesSociales:hover {
    width: 105px;
    transition: 0.5s;
 }


                                            /* MEDIA QUERYS */
 @media (max-width: 768px) {
     /* MEDIAQUERY ''HEADER''*/
     .header {
        border: 2px solid whitesmoke;
        text-transform: uppercase;
        border-radius: 10px;
     }

     .logo {width: 80px;}
    
     .titulo {font-size: 20px;}
     .subtitulo {font-size: 15px;}

     .navegacion {
        text-decoration: none;
        color: whitesmoke;
        font-size: 10px;
        padding: 3px;
     
        border: 2px solid whitesmoke;
        text-transform: uppercase;
        border-radius: 10px;
        }

     .navegacion:hover {
        font-size: 12px;
        padding: 5px;

        border-radius: 20px;
        transition: 0.10s;
     }

     .tituloSubtitulo1 {flex-direction: column;}
     .cabecera {padding-bottom: 10px; padding-top: 10px;}

     /*MEDIAQUERY ''FOOTER''*/
     .direccionFooterDiv {
         flex-direction: column;
     }

     .direccionFooter {
         font-size: 9.5px;
         display: flex;
         justify-content: center;
     }

     /*MEDIAQUERY ''INDEX''*/
     .imagenesIndex {width: 165px;}

     .sectionIndex {display: flex; flex-direction: column-reverse;}

     .googleMaps {width: 330px;}

     /*MEDIAQUERY ''TRABAJOS''*/
     .mainTrabajos {flex-direction: column; align-items: center; padding-top: 20px;}

     /*MEDIAQUERY ''CURSOS''*/
     .divCursos1 {width: max-content; padding-top: 15px;}

     /*MEDIAQUERY ''DIPLOMAS''*/
     .diplomas {flex-direction: column; padding-top: 30px;}
 }